#navlist {
}

#headers {
    text-align: center;
}

.circles {
    text-align: center;
    border: solid 1px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

#circletext1 {
    position: absolute;
    left: 28%;
    top: 38%;
}

#circle1 {
    position: relative;
}

#circletext2 {
    position: absolute;
    left: 28%;
    top: 38%;
}

#circle2 {
    position: relative;
}

#circletext3 {
    position: absolute;
    left: 25%;
    top: 38%;
}

#circle3 {
    position: relative;
}

#circletext4 {
    position: absolute;
    left: 37%;
    top: 38%;
}


#circle4 {
    position: relative;
}

@media screen and (max-width: 480px) {
    .circles {
        margin-right: ;
    }
}