#navlist {
}

#headers {
    text-align: center;
}

.circles {
    text-align: center;
    border: solid 1px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

@media screen and (max-width: 480px) {
    .circles {
        margin-right: ;
    }
}